p {
  margin-bottom: 10px; }

.ticket {
  height: 45px;
  border: 1px solid;
  cursor: pointer; }
  .ticket div p {
    margin-bottom: 0px !important;
    line-height: 1 !important; }
  .ticket p {
    margin-bottom: 0px !important; }

.block-content {
  margin-bottom: 5px !important;
  box-shadow: none !important;
  border-radius: 10px;
  padding: 1em !important; }
  .block-content p {
    margin-bottom: 0px !important; }
