@import "Fonts.scss";
@import "Constants.scss";
@import "Animations.scss";
@import "Common.scss";
@import "Loader.scss";
@import "Select.scss";
@import "App.scss";

@import "MessageList.scss";
@import "MessageItem.scss";
@import "MessageInput.scss";
@import "Cards.scss";

body {
  margin: 0;
  padding: 0;
  font-family: "Graphik", sans-serif;
  line-height: 1.4;
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  input,
  textarea {
    -webkit-touch-callout: default;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }
}

.live-chat-container {
  height: 100%;
  overflow: hidden;

  .mobile-back {
    display: none;
    height: 60px;
    background-color: #f3f3f3;
    align-items: center;
    padding: 0 10px;
    font-size: 25px;
  }
  .message-list-wrapper-container {
    height: 100%;
    padding: 15px;
    overflow: hidden;
    .message-list-wrapper {
      margin-bottom: 0;
      height: 100%;
      padding-bottom: 110px;
      position: relative;
      min-height: unset;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      .message-items-container {
        overflow: auto;
        display: flex;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        overflow: auto;
        flex: 1;
      }

      .message-input-container {
        position: absolute;
        bottom: 5px;
      }
    }
  }

  @media (max-width: 767px) {
    .mobile-back {
      display: flex;
    }

    .message-list-wrapper-container {
      height: calc(100% - 60px);
    }
  }
}
