@import "Fonts.scss";
@import "Constants.scss";
@import "Animations.scss";
@import "Common.scss";
@import "Loader.scss";
@import "Select.scss";
@import "App.scss";

@import "MessageList.scss";
@import "MessageItem.scss";
@import "MessageInput.scss";
@import "Cards.scss";

body {
  margin: 0;
  padding: 0;
  // font-family: "Graphik", sans-serif;
  line-height: 1.4;
  background-color: white !important;
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  input,
  textarea {
    -webkit-touch-callout: default;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }
  .btn-green {
    background-color: #d5fec6;
    cursor: pointer;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    border-radius: 4px;
    p{
      margin-bottom: 0px;
    }
  }
}
