@import "Animations.scss";
@import "Constants.scss";

.message-item-wrapper {
  color: $text;
  max-width: 100%;
  margin-bottom: 1em;
  min-height: 1.4em;
  &.bot {
    .typing-loader {
      width: 70px;
      transition: all 0.3s;
      opacity: 1;
      position: relative;
      animation-name: slideInLeft;
      animation-duration: 300ms;
    }
    .message {
      position: absolute;
      opacity: 0;
      transform: scale(0);
    }

    .progress {
      opacity: 0;
      transition: all 0.8s;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      p {
        font-size: 14px;
      }
    }
    &.loaded {
      .typing-loader {
        width: 70px;
        position: absolute;
        opacity: 0;
        transform: translateY(2em);
      }
      .message {
        position: relative;
        opacity: 1;
        transform: scale(1);
      }
      .progress {
        opacity: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 1em;
        transition: none;
        p {
          @media screen and (max-width: 468px) {
            font-size: 10px;
          }
          @media screen and (min-width: 469px) {
            font-size: 1em;
          }
        }
        .circle {
          background-color: grey;
          border: 1px solid #152439;
          border-radius: 20px;
          margin: 2px;
          @media screen and (max-width: 468px) {
            height: 10px;
            width: 10px;
          }
          @media screen and (min-width: 469px) {
            height: 15px;
            width: 15px;
          }
        }
      }
    }
  }
  &.user {
    .typing-loader {
      width: 70px;
      transition: all 0.3s;
      opacity: 1;
      position: relative;
      animation-name: slideInRight;
      animation-duration: 300ms;
    }
    .message {
      position: absolute;
      opacity: 0;
      transform: scale(0);
      font-weight: 100;
      background-color: white;
    }
    &.loaded {
      .typing-loader {
        width: 40px;
        position: absolute;
        opacity: 0;
        transform: translateY(2em);
      }
      .message {
        position: relative;
        opacity: 1;
        transform: scale(1);
      }
    }
    .typing-loader {
      display: block;
    }
  }
  &.agency {
    align-self: flex-end;
    .typing-loader {
      width: 70px;
      transition: all 0.3s;
      opacity: 1;
      position: relative;
      animation-name: slideInRight;
      animation-duration: 300ms;
    }
    .message {
      background-color: rgb(21, 36, 57);
      color: $black;
      font-weight: 100;
      opacity: 0;
      transform: scale(0);
      &.notbolt {
        background-color: #fdffd0;
        color: $black;
      }
    }
    &.loaded {
      .typing-loader {
        width: 40px;
        position: absolute;
        opacity: 0;
        transform: translateY(2em);
      }
      .message {
        opacity: 1;
        transform: scale(1);
      }
    }
    .typing-loader {
      display: block;
    }
  }
  &.landlord {
    align-self: flex-end;
    .message {
      background-color: #daffda;
      color: $black;
      font-weight: 100;
      opacity: 0;
      transform: scale(0);
      &.notbolt {
        background-color: #daffda;
        color: $black;
      }
    }
    &.loaded {
      .message {
        opacity: 1;
        transform: scale(1);
      }
    }
    .typing-loader {
      display: none;
    }
  }
  &.contractor {
    align-self: flex-end;
    .typing-loader {
      width: 70px;
      transition: all 0.3s;
      opacity: 1;
      position: relative;
      animation-name: slideInRight;
      animation-duration: 300ms;
    }
    .message {
      background-color: #ffeaf9;
      color: $black;
      font-weight: 100;
      opacity: 0;
      transform: scale(0);
      &.notbolt {
        background-color: #ffeaf9;
        color: $black;
      }
    }
    &.loaded {
      .typing-loader {
        width: 40px;
        position: absolute;
        opacity: 0;
        transform: translateY(2em);
      }
      .message {
        opacity: 1;
        transform: scale(1);
      }
    }
    .typing-loader {
      display: block;
    }
  }
}
.avatar {
  box-shadow: 0 0px 7px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}