#top-menu ul {
  display: flex;
  list-style-type: none; }

#top-menu ul > li {
  margin: 10px 10px 0;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 18px; }
  #top-menu ul > li :hover {
    font-weight: bold; }

#top-menu ul > li.active {
  font-weight: bolder; }
