#top-menu {
  ul {
    display: flex;
    list-style-type: none;
  }
  ul > li {
    margin: 10px 10px 0;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 18px;
    :hover {
        font-weight: bold;
    }
  }
  ul > li.active {
    font-weight: bolder;
  }
}
