a {
  color: white;
}
a:hover {
  color: white;
}

.login-main-container {
  width: 100%;
}

.landing-img {
  background-image: url("../../assets/media/ecosystem-landing.png") !important;
  background-size: 80% auto;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-image {
}
.bg-opacity {
  background-color: rgba(0, 0, 0, 0.75) !important;
}
.btn-hero-primary {
  background-color: #d5ffc6ff !important;
  color: #152439 !important;
  text-transform: none !important;
}
.btn-hero-secondary {
  background-color: #FAFF87 !important;
  color: #152439 !important;
  text-transform: none !important;
}
.landing-img {
  background-image: url("../../images/login/illustration.png") !important;
  background-size: 80% auto;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
}

.login-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brand-hub-text {
  margin-top: 10px;
  font-size: 20px;
}

.login-logo-sm {
  display: block;
  width: 40px;
  margin-bottom: 16px;
}

.card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: #ecedee;
  margin-bottom: 20px;
  p {
    font-size: 25px;
    font-weight: "500";
    margin-bottom: 10px;
  }
  button {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: black;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  button:hover {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  }
}
