.deactivation-modal{
    width: 300px !important;
    border-radius: 10px !important;
    .modal-body{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px;
        .images{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 20px;
        }
        .description{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            p{
                margin-bottom: 0px;
                font-size: 13px;
                text-align: center;
                line-height: 1.3;
            }
        }
        .buttons{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }
    }
}