#housemates-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%; }
  #housemates-container button {
    height: 220px; }

@media (max-width: 767px) {
  #housemates-container {
    margin-top: 20px;
    justify-content: center; }
    #housemates-container button {
      height: 150px; } }
